*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body{
  background-image: url('../assets/backgound-space.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  
}

::-webkit-scrollbar {
    background: black;
    width: 2px;
  } 
::-webkit-scrollbar-thumb:hover {
    background: rgb(175, 255, 29);
}