.footer-container {
    width: 100%;
    height: 100px;
    background-color: black;
    /* box-shadow: 0 0 30px chartreuse; */
    border-top: chartreuse solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:static;
    bottom: 0;
}

.footer-container a{
    font-weight: bold;
    font-size:  1.2rem;
    text-decoration: none;
    color: rgb(28, 163, 190);
}

.footer-container a:hover{
    color: chartreuse;
    text-shadow: 0 0 0.5em chartreuse, 0 0 0.5em chartreuse, 0 0 0.5em chartreuse;
    transition: 0.5s;
}