.modal{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
}
.modal-conteudo{
  background-color:white;
  max-width: 600px;
  margin: 90px auto;
  border-radius:5px;
  padding: 20px;
}
.modal-butao{
float: right;
background-color:unset;
border: unset;
}