
.pConteudo{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    align-content: center;
    justify-content: center;
    width:100%;
    margin: 50px 0 20px 0;
    height: 100%;
 }
    .pImg{
      width:100%;
      border-radius:5% 5% 0% 0%;
    }
    .card{
      display: flex;
      width: 13em;
      margin:10px;
      justify-content: center; 
    flex-direction: column;
    text-align: center;
    border-radius:5% 5% 0% 0%;
    }
    .pParagrafo{
      margin: 3px;
      color: #fff;
    }
    .pTitulo{
      color:#fff;
    }

.butaoP{

  padding: 5px;
  width:inherit;
  align-items: center;
  flex-direction: column;
  background-color: #1aa9c0 ;
  color:#fff;
  cursor: pointer;
}
.pImgIcon{
  width: 40px;
  height: 40px;  
  cursor: pointer;
}
.trocaTela{
  display:flex;
  flex:1;
   align-items: center;
    justify-content: center; 
    gap:10px;
    background: none;
    border: none;
} 
.trocaTela button{
  background: none;
    border: none;
}
