
.pConteudo {
  display:flex;
    /* align-items:center;  */
  /* align-content: center; */
  justify-content: center;
  flex-direction:row;
  flex-wrap: wrap;
  margin:2% auto;
  width:100vw;
  max-width: 900px;
  /* max-height:500px; */
  height: 100vh;
  gap: 10px;
}

.pImg {
  width:100%;
  /* border-radius: 50%; */
}

.card {
  display: flex;
  /* max-width: 200px; */
  flex:1 1 150px; 
  /* align-items:center; 
  align-content: center; */
  justify-content: center; 
  flex-direction: column;
  text-align: center;
  background-color:black;
  border: solid 1px white;
}

.pParagrafo {
  margin: 5px;
  color: #fff;
}

.pTitulo {
  color:#fff;
}

.butaoP {
  height:30px;
  background-color: #1aa9c0 ;
  color:#fff;
}

.trocaTela {
  display:flex;
  flex:1;
  align-items: center;
  justify-content: center; 
  gap:10px;
}

.prev,.next {
  height:50px;
  margin-bottom: 5px;
  background-color:#1aa9c0 ;
  width:80px;
  color:#fff;
}