.container-recomendados{
    width: 60vw;
    height: auto;
    background-color: #151515c2;
    border-radius: 8px;
    margin: 20px 0px 20px 0px;
    padding: 30px;
}
.container-ep h3{
    margin: 20px 0 5px 0;
    color: rgb(28, 163, 190);
    text-shadow: 0 0 0.5em rgb(28, 163, 190), 0 0 0.5em rgb(28, 163, 190);
}
.container-ep:hover h3{
    color: chartreuse;
    text-shadow: none;
}
.container-ep{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-ep p {
    padding: 5px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-align: left;
}
.container-ep:hover p{
    color: chartreuse;
}

.divEpisodios{
    width: 100%;
    height: auto;
    margin-bottom: 40px;  
}

@media (max-width: 450px){
    .container-recomendados{
        width: 95vw;  
    }
}